/* Initial setup */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
box-sizing: border-box;
}

:root {
  --clr-primary-200: #454546;
  --clr-primary-400: #666;

  --clr-neutral-100: #8c8c8c;

  --clr-secondary-200: #ffff56;
  --clr-secondary-400: #ffff00;

  --clr-contrast-100: #fff;
  --clr-contrast-900: #000;
}

ul, li, h1, h2, h3, h4, h5, h6, p, a, .logo {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
} 

header,
section {
  padding: 3rem 0;
}  

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.bg-light { 
  background-color: var(--clr-contrast-100);
  color: var(--clr-contrast-900);
}
.bg-offset { 
  background-color: var(--clr-secondary-400);
  color: var(--clr-contrast-900);
}

.bg-dark { 
  background-color: var(--clr-contrast-900);
  color: var(--clr-contrast-100);
}

::selection {
  background: #000;
  color: #aaf;
}
.alternate ::selection {
  background: #c00;
  color: #000;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}


.logo img {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.logo a {
  display: block;
  height: 100px;
  width: 100px;
}

.inner-head {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-evenly;
}

.inner {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 15%;
}

header {
  width: 100%;
  background: #000;
  transition: 0.8s all;
  z-index: 100;
  padding: 0;
}

header.alt-header {
  background: #000;
}

.alt-header a {
  color: #000;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
  border-radius: 12px;
}

.alternate {
  background: var(--clr-primary-200);
  color: var(--clr-secondary-200);
}


@media screen and (max-width: 1024px) {
  .logo img {
  display: none;
  }
}

@media screen and (max-width: 1024px) {
  .inner-head {
  justify-content: center;
  }
}


/*-----------------------Nav transition--------------*/

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.nav-items a:hover {
  color: var(--clr-secondary-400);
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 1.5em 0 5em;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-items {
  width: 100%;
  margin: 0;
  }
}

@media screen and (max-width: 1024px) {
body {
  overflow-x: hidden;
}

.nav-items {
  position: fixed;
  right: 0px;
  height: 90vh;
  top: 14vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 1;
}

.nav-items li {
  opacity: 0;
}

.nav-items li a {
  color: #fff;
  font-size: 1.2em;
}

.burger {
  display: block;
  cursor: pointer;
}
}

.burger img {
  height: 100px;
  width: 100px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: ;
	--c2: rgba(168, 239, 255, 0.1);
}

.burger {
	border: 0.20rem solid;
	border-image: conic-gradient(from var(--angle), var(--clr-secondary-200), var(--clr-secondary-400) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
  }
  to {
  opacity: 1;
  transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*----------------------Hero Section---------------------*/

.hero {
  padding: 0;
}

.background-container {
  height: 640px;
  background: #fff;
  background-position: center;
  background-size: cover;
  background-image:url(../src/images/brush.jpg);
}

.hero-container {
  display: flex;
  height: 100%;
}

.column-left {
  flex-basis: 100%;
  padding: 1.2em;
  flex-direction: column;
  justify-content: space-around;
}

.column-left h1 {
  font-weight: bold;
  font-size: 3.2rem;
}

.column-left p {
  font-size: 1.2em;
}

.column-left button {
  padding: 1rem 3rem;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  color: #fff;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000;
}

.column-right {
  flex-basis: 60%;
}

/*------------------alt-section-----------------*/

.alt-container{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
}

.alt-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.alternate h2 {
  font-size: 2.5rem;
  text-align: center;
}

.alt-right p {
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
  align-items: center;
}

.alt-left {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alt-left img {
  display: flex;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid yellow;
}

@media screen and (min-width: 900px) {
  .alt-container {
  display: flex;
  flex-direction: row;
  }
  .alt-left img {
    max-width: 100%;
    max-height: 100%;
  }
}

/*----------------Features----------------*/

.features {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-container {
  display: flex;
  flex-direction: row;
  height: 90%;
  gap: 1em;
  justify-content: space-between;
}

.feature {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  flex-grow: 1;
}

/*-------------- Photo Gallery ----------*/

#demosection3 {
  height: 700px;
  display: flex;
  max-width: 100%;
  border: 1px solid yellow;
  background-color: var(--clr-primary-200);
}

.gallery {
  display: flex;
  width: 100%;
  margin-left: 2em;
}

  ul {
    width: 100%;
    margin: 1em auto;
    list-style: none;
    float: left;
    padding: 10px;
  }

    li {
      width: 20rem;
      display: block;
      float: left;
      margin: 0 10px 10px 0;
      -webkit-filter: sepia(.7);
      position: relative;
      -webkit-transition: .8s;
    }

      li:hover {
        -webkit-filter: sepia(0);
        z-index: 1;
      }

    li:nth-child(3n) {
      margin-right: 0;
    }

    li:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

      li img {
        -webkit-transition: .8s;
        max-width: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        float: left;
        border: 8px solid white;
        border-bottom-width: 30px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

  
      li:nth-child(1) img {
        -webkit-transform: translate(0px, 30px) rotate(10deg);
      }

      li:nth-child(2) img {
        -webkit-transform: translate(50px, 40px) rotate(10deg);
      }

      li:nth-child(3) img {
        -webkit-transform: translate(-30px, 5px) rotate(-13deg);
      }

      li:nth-child(4) img {
        -webkit-transform: translate(-20px, 20px) rotate(5deg);
      }

      li:nth-child(5) img {
        -webkit-transform: translate(-70px, 20px) rotate(15deg);
      }

      li:nth-child(6) img {
        -webkit-transform: translate(-40px, -10px) rotate(-10deg);
      }

        li img:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 15px rgba(0, 0, 0, .7);
          -webkit-transform: scale(2);
        }




